*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    width: auto;

}
body {
    background-image: url("./img/background.jpg");
    background-position: left;
    color: white;
    height: 185vh;
    

    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
   }
   /* this css is for header */
header{
    height: 13vh;
    display: flex;
    list-style-type: none;
    margin-top: 10px
}
.head{
    font-size: 50px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./img/text.jpg");
    background-position: right;
    background-size: 100% 100%;
    color: transparent;
    -webkit-background-clip:text;
    text-decoration: underline;
    text-decoration-color:yellowgreen;
    text-decoration-thickness: 5px;
}

.link {
    display: flex;
    flex: 1;
    align-items: center;
}
.link a{
    text-decoration: none;
    color: white;
}
.link li{
    flex: 1;
    font-size: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    align-self: center;
}
.link a:hover{
   color: darkcyan;
   transform: none;
   transition: 0.4s;
    cursor: pointer;
}
.home a{
    color: darkcyan;
}
@media(max-width:1000px){
    body{width: auto;}
    header{display: grid;
    }
    }
/* this css is for section */
section{
    height: 180vh;
}
.project1 h1{
    text-align: center;
    font-size: 40px;
    color:darkgray
}
.info1{
    display: flex;
    margin: 50px;
    font-size: 30px;
}
.pro1{
    margin-left: 20px;
    text-align: left;
}
.info1 img{
    border-radius: 10px;
    border: 5px solid white;
}
.project2 h1{
    text-align: center;
    font-size: 40px;
    color: darkgray;
}
.info2{
    display: flex;
    margin: 50px;
    font-size: 30px;
}
.pro2{
    margin-left: 20px;
    text-align: left;
}
.info2 img{
    padding-left: 100px;
    padding-right: 100px;
}
.info3{
    display: flex;
    margin: 50px;
    font-size: 30px;
}
.pro3{
    margin-left: 20px;
    text-align: left;
}
.info3 img{
    margin-left: 100px;
    margin-right: 100px;
}
.project3 h4{
    text-align: center;
    font-size: 40px;
    color: darkgray;
}
.info3 img{
    border-radius: 10px;
    border: 5px solid white;
}
@media(max-width:1020px) {
    section{margin-top: 100px;
    height: 500vh;}
    .info1 , .info2 , .info3{
        display: grid;
    }
    .info1 img , .info2 img , .info3 img{
        display: flex;
        justify-self: center;
    }

    
}
@media (max-width:750px) {
    section{
        height: 200vh;
    }
    .info1 , .info2{
        justify-content: center;
    }
    section h1{
        padding: 10px;
    }
}
@media (max-width:610px) {
    section{
        height: 250vh;
    }
    .project1 h1 , .project2 h1{
        font-size: 20px;
    }
    .info1 , .info2{
        justify-self: center

    }
    
}
@media (max-width:500px) {
     .info1 img{
        height: 170px;
        margin-bottom: 50px;
    }
    .info2 img{
        margin-bottom: 50px;
    }
    .info1 , .info2{
        font-size: 25px;
    }


}
@media (max-width:460px){
    section{
        text-align: center;
        width: auto;
        height: auto;
    }
    .info2 img {
        padding: 0;
    }
    .info3 img{
        margin: 0;
        margin-bottom: 10vh;
        height: 150px;
    }
    .info1 , .info2 , .info3{
        font-size: 20px;
        text-align: center;
    }

    }

@media (max-width:1200px){
    section{
        height: 200vh;
    }
   
    
}
@media (max-width:1080px){
    section{
        height: 250vh;
    }
    
    
}
@media (max-width:900px){
    section{
        height: 300vh;
    }
    
}
@media (max-width:760px){
    section{
        height: 350vh;
        background-position: center;
    }
    
}
@media (max-width:400px){
    section{
        height: 320vh;
    }
    .project3 h4{
        font-size: 23px;
    }
    
}





/* this css is for footer */
footer{
    background-image: url("./img/back1.jpg");
    background-position: center;
    border-color: white;
    border-width: 10px;
    border-style: solid;
    border-left: 0cap;
    border-right: 0cap;
    min-width: 100%;
    max-width: 100%;
    
    height: 40vh;
    color: black;
}
.box{
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.box img{
    margin-right: 15px;
}
.social{
    display: flex;
    list-style-type: none;
    justify-content:center;
    align-items: center;
}
.social img{
    
    object-fit: cover;
    
}
.social a{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
}
.social a:hover{
    background-color: darkcyan;
    transform: none;
    transition: 0.4s;
     cursor: pointer;


}
.share {
    height: 50px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.share li{
    display: flex;
    margin: 15px;
    font-size: 25px;
}
.share a:hover{
    color: darkcyan;
    transform: none;
    transition: 0.4s;
     cursor: pointer;
 }
 .share a{
    color: black;
    text-decoration: none;
 }
.fot{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 15px;
    height: 50px;
    align-items: center;
}
